
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="row mx-auto">
        <a href="#" class="navbar-brand mx-0 text-center">BBMonitor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-options" aria-controls="menu-options" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="menu-options">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a href="#" class="nav-link" id="home">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" id="settings">Settings</a>
                </li>
                <!-- Put 'how to use' instructions under settings -->
            </ul>
        </div>
    </div>
    
</nav>

